*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #e7c6ff;
  
}

.container-fluid{
  display: flex;
  justify-content: space-between;
}


  .tituloPrincipal{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 75px;
    color: #5a189a;
    text-shadow: 3px black;
    margin-top: 0;
    
  }

 .banner{
    position: relative;
    widows: 100%;
    height: calc(25vh - 40px);
    background-image: url(/assets/img/baner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;

 }
 

 
@media screen and (min-width: 768px) {
  .banner {
    height: 50vh;
    display: none;
  }
}

 .carrito{
   
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    background-color: #e7c6ff;
    
 }
 
.card {
  width: 300px;
  background-color: #c77dff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 35px;
  text-align: center;
  margin-top: 10px ;
  padding: 20px;
  
}
 
  
  .card img {
    text-align: center;
    width: 280;
    height: 20vh;
  padding-left: 20px;
}
  
  .card img :hover{
    transform: scaleZ(3px);
  }
  .card-content {
    padding: 10px;
    color: #5a189a;
  }
  
  .card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  .card-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card-content .price {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .tituloCard{
    color: #5a189a;
  }
  .card-content .btn {
    display: inline-block;
    background-color:#5a189a ;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    
  }
  
  .card-content .btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
  }

  .card1 {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 40px ;
    
  }
  .card1 img {
    text-align: center;
    width: 280;
    height: 20vh;
  padding-left: 20px;
}
  
  .card1 img :hover{
    transform: scaleZ(3px);
  }
  .card1-content {
    padding: 10px;
    color: #5a189a;
  }
  
  .card1-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  .card1-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card1-content .price {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .tituloCard{
    color: #5a189a;
  }
  .card1-content .btn {
    display: inline-block;
    background-color:#5a189a ;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    
  }
  
  .card1-content .btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
  }

  @media screen and (min-width: 768px) {
    .carrito{
      justify-content: space-between;
      padding-left: 150px;
    }
    .cards {
      display: flex;
  
      
    }
    .card{
      margin: 10px;
      padding-right: 40px;
      text-align: center;
      border: unset #5a189a;
    }
    .card1{
      margin: 10px;
      padding-right: 40px;
      text-align: center;
      border: unset #5a189a;
    }
  
    .card:hover{
      transform: scale(1.1);
      
    }
    .card1:hover{
      transform: scale(1.1);
      
    }
  }
  
  
  
  footer {
    background-color: #c77dff;
    color: #fcfcfc;
    margin: 0px;
  padding: 10px;
  text-shadow: 2px black;
  
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
  }
 
  .navbar{
    padding: 0;
    margin: 0;
  }

  .navbar-brand{
    background-color: #fcfcfc;
    width: 30px;
    font-size: 25px;
    font-weight: bolder;
    padding: 2px;
  }
  .container-fluid{
    background-color: #e7c6ff;
    margin: 0;
    padding: 0;
  }
  /*comienzo pagina de pulceras
  */

  .tituloPrincipalPulceras{
    text-align: center;
    padding: 40px;
    font-size: 65px;
    color: #5a189a;
    text-decoration: underline;
  }

  .containerCards{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    background-color: #e7c6ff;
  }



  .carritoPulceras{
   
    padding-left: 40px;
    background-color: #e7c6ff;
    
 }
 .cardPulceras {
    width: 80vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 35px;
    text-align: center;
    
  }
  
  .cardPulceras img {
    text-align: center;
    width: 280;
    height: 20vh;
  padding-left: 20px;
}
  
  .cardPulceras img :hover{
    transform: scaleZ(3px);
  }
  .card-content {
    padding: 10px;
    color: #5a189a;
  }
  
  .card-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  .card-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card-content .price {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .tituloCard{
    color: #5a189a;
  }
  .card-content .btn {
    display: inline-block;
    background-color:#5a189a ;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    
  }
  
  .card-content .btn:hover {
    background-color: black;
    color: white;
  }

 @media screen and (min-width: 768px) {
  .cardsPulceras{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  }
 
  .cardPulceras{
    width: 25%; /* Ajusta el ancho según tus necesidades */
    margin: 10px;
    padding-right: 40px;
    text-align: center;
    border: unset #5a189a;
  }

  .cardPulceras:hover{
    transform: scale(1.1);
    
  }
}
 
  /*nuestros clientes*/

    .tituloPrincipalClientes{
      text-align: center;
      margin-top: 45px;
      font-size: 60px;
      font-family: 'Bebas Neue', sans-serif;
      color: #5a189a ;
      text-shadow: #fcfcfc 10px;
      background-color: white;
      padding: 10px;

    }
  .containerclientes{
   
    text-align: center;
  }

  .containerCardsClientes img{
    
    width: 70%;
    border-radius: 50%;
    

  
  }



  @media screen and (min-width: 768px) {
    .containerclientes{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
    }
   
    .containerCardsClientes{
      width: calc(25% - 10px); /* Ajusta el ancho según tus necesidades */
      margin: 10px;
      padding-right: 40px;
      text-align: center;
      border-radius: 10%;
     
    }
    
  }

  
  
 